# ignore node.js files #
########################
node_modules
npm-debug.log

# ignore data stores #
######################
*.json

# ignore local test files #
###########################
test

# ignore keys #
###############
keys
