# ignore node.js files #
########################
node_modules
npm-debug.log

# ignore data stores #
######################
*.json
!package.json

# ignore logs #
###############
logs
*.log
*.logs

# ignore local test files #
###########################
test

# ignore keys #
###############
keys

# ignore configurations #
########################
*.conf
